header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 15px 15%
}

.headerInfo {
    display: flex;
}

.headerInfo div {
    margin: 0 5px;
}

.textInfo {
    color: #546e7a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
}

.textInfo span {
    color: #e74c3c;
   
}

.shop {
    background-color: #f5f5f5;
    padding: 11px 12px;
    border-radius: 50%;
}

.buttonLogin {
    padding: 10px 15px;
    background-color: #8bc34a;
    border-radius: 10%
}

.buttonRegister {
    padding: 10px 15px;
    background-color: #e74c3c;
    border-radius: 10%
}

.menu {
    background-color: #263238;
    padding: 10px;
}

.menu ul {
    display: flex;
    margin: 0 13%;
}

.linkMenu {
    text-decoration: none;
    list-style: none;
    margin: 0 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.backgroundMainList {
    background-image: url(../img/BG.jpeg);
    background-size: cover;
    height: 80vh;
    position: relative;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.titelMain {
    text-align: center;
}

.titelMain h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    margin: 20px
    
}

.titelMain h3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px
}

.position {
    position: relative;
}

.titelMain input {
    width: 85%;
    box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
    background-color: #ffffff;
    color: #90a4ae;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.7px;
    margin: 20px;
    padding: 5px 15px;

}

.titelMain i {
    position: absolute;
    top: 35px;
    right: 60px;
}

/* modal */

.fontSize-green {
    font-weight: 400;
    line-height: 60px;
}

.modalWindow {
    position: relative;
}

.block {
    position: absolute;
    display: none;
    right:0;
    top:10px;
    z-index: 9999;
    background-color: #989c9e;
    padding: 10px
}

.modalWindow:hover .block {
    display: block;
}

.blockFlex {
    display: flex;
}

.blockIMG {
    justify-content: center;
    align-items: center;
    display: flex;
}

.shop {
    position: relative;
}

/* footer */


.footerMain {
    height: 500px;
    background-color: #263238;
}

.footerText {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.footerColumn {
    width: 20%;
}

.footerColumn p {
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 0 20px;
    
}

.footerColumn hr {
    border: none;
    background-color: #8bc34a;
    color: #8bc34a;
    height: 3px;
    width: 30%;
    display: inline-block;
}

.textCompany {
    color: #b7c3c8;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0;

}

.companyNomber {
    color: #ffffff;
    font-family: "Lato - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.companyNomber i {
    color: #8bc34a;
    font-size: 18px;
    line-height: 24px;
    margin: 5px
}

.linkCommunity {
    text-decoration: none;
    color: #b7c3c8;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
}

.linkCommunity i {
    color: #8bc34a;
    font-size: 18px;
    line-height: 36px;
    margin: 0 10px 0 0;
}

.inonsNetwork {
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0;
}

.inonsNetwork i {
    margin: 5px
}

.textNetwork {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}
.footerColumn input {
    color: #697378;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 10px;
    margin: 20px 0;
    border: 1px solid #000000;
    background-color: #2f3c43;
}
