/*Section-Product*/
.product-position{
    margin: 0 10%;
}

.product-container {
    display: flex;
}

.container-photo-product{
    max-width: 90%;
    border: 1px solid #d7d7d7;
}

.container-photo-product>img {
    padding: 15px;
    max-width: 95%;
}
.title-product {
    margin-top: 35px;
    color: #263238;
    font-family: Roboto;
    font-size: 30px;
}

.product-info-page {
    width: 80%;
}

.product-info-page> p {
    margin-top: 26px;
    color: #707070;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    max-width: 95%;
}
.container-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    max-width: 95%;
}

.function-btn {
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.function-btn >div >a {
    display: block;
    text-transform: none;
    text-decoration: none;
    color: #f4f6f5;
    margin-top: 16px;
}
.about-btn-live {
    background-color: #e74c3c;
    font-family: Roboto;
    font-size: 16px;
    height: 50px;
    padding: 0 25px;
}

.about-btn-screen {
    background-color: #455a64;
    color: #f4f6f5;
}
.about-btn-document {
    background-color: #8bc34a;
    color: #f4f6f5;
}
/*right section*/
.right-section {
    width: 24%;
    display: flex;
    flex-direction: column;
}

.product-price {
    border: 1px solid #d7d7d7;
    padding: 25px;
    margin-bottom: 30px;
}
.price-box {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.product-price> h3 {
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.price-box> h4 {
    color: #e74c3c;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}
.select-regular {
    margin-top: 2px;
    width: 82px;
    height: 27px;
    border: 1px solid #cccccc;
    color: #70838d;
    font-family: Roboto;
    font-size: 13px;
}
.box-btn {
    margin-top: 27px;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    background-color: #8bc34a;
}
.white-cart {
    margin-right: 8px;
}
.box-btn-add {
    display: block;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.favorites-btn-box {
    margin-top: 8px;
    background-color: #42a5f5;
}

.buy-btn-box {
    background-color: #546e7a;
    margin-top: 8px;
}
.author-profile {
    width: 75px;
    height: 65px;
    background-color: #A69F9F;
}

.author-info {
    margin-left: 10px
}

.author-profile-btn {
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    width: 92px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #707070;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.author-info >h4 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #263238;
}

.box-btn-black {
    display: block;
    text-transform: none;
    text-decoration: none;
    color:  #a6b5bb;
    font-family: Roboto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.function-numbers {
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.function-numbers >div >a {
    display: block;
    text-transform: none;
    text-decoration: none;
    color: #a6b5bb;
    margin-top: 16px;
}
.about-btn-numbers{
    color: #a6b5bb;
    font-family: Roboto;
    font-size: 16px;
    height: 50px;
    padding: 0 25px;
}

.about-btn-sale {
    background-color: white;
}
/*Content body*/
.content-container{
    width: 100%;
    height: 840px;
    background-color: #f4f6f5;
}
.content-main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 15% 0 10%;
}

.content-info{
    width: 75%;
    height: 325px;
    margin-top: 2%;
    margin-left: -6%;
}

.content-panel{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: #ffffff;
}
.panel-shadow:hover {
    border-bottom: 3px;
    border-color: #8bc34a;
}

.content-panel>div {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d7d7d7;
}
.content-panel>div>a{
    color: #70838d;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
}
.content-list{
    display: flex;
    justify-content: flex-start;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    height: 265px;
}

.content-list>div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.content-list>div>a {
    color: #707070;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 6%;
}

.content-list>div>a::before {
    content: ">";
    color: #8bc34a;
    font-size: 18px;
    font-weight: bolder;
    line-break: auto;
    letter-spacing: 4px;
}
.content-right-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22%;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin: 2% -8% 0%;
}

.content-right-info>span {
    color: #263238;
    font-family: Roboto;
    font-size: 13px;
    padding-left: 9%;
}
.content-right-info>h4 {
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
    padding-left: 9%;
}

.content-more-products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin: 2% 6%;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
}

.content-list>div>a   ::before {
    content: "> ";
    color: #8bc34a;
    font-size: 18px;
    font-weight: bolder;
    line-break: auto;
    letter-spacing: 4px;
}

.content-more-products>h4{
    color: #263238;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    padding-left: 2%;
}
.content-card {
    display: flex;
    flex-wrap: wrap;
    width: 67%;
    margin: 2% 30% 2% 5%;
}

.content-card-item {
    display: flex;
    width: 29%;
    margin: 13px
}

.square-price {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #d7d7d7;
}

.gray-square {
    width: 100px;
    height: 90px;
    background: #b7c3c8
}

.square-price>h4 {
    color: #263238;
    font-family: Roboto;
    font-size: 12px;
}

.square-price>p {
    font-family: Roboto;
    font-size: 12px;
    color: #8bc34a;
}

.square-price>span {
    color: #263238;
    font-family: Roboto;
    font-size: 16px;
}
@media screen and (max-width: 1330px) {
    .select-regular {
        display: none;
    }

    .product-price > h3 {
        font-size: 15px;
    }

    .container-btn {
        flex-wrap: wrap;
        margin: 4% 2% 1% 3%;
    }
    .social-icon{
        display: none;
    }
    .product-price {
        border: 1px solid #d7d7d7;
        padding: 2px;
        margin-bottom: 20px;
    }
    .function-numbers {
        flex-wrap: wrap;
        width: 44%;
    }
}
@media screen and (max-width: 850px) {
    .price-box > h4 {
        font-size: 15px;
    }

    .product-price {
        display: none;
    }

    .content-right-info {
        width: 29%;
        margin: 1% -2% 0%;
    }

    .function-numbers {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .content-panel > div > a {
        font-size: 11px;
    }

    .content-list > div > a {
        font-size: 11px;
    }

    .content-card-item {
        display: flex;
        flex-wrap: wrap;
        margin: 2px;
    }

    .gray-square {
        height: 60px;
    }

    .content-card-item {
        display: flex;
        width: auto;
    }

    .square-price {
        padding: 9px;
    }

    .content-right-info > h4 {
        font-size: 15px;
    }

    .container-photo-product > img {
        padding: 15px;
        max-width: 90%;
    }

    .content-right-info > span {
        font-size: 11px;
    }

    .menu ul {
        flex-wrap: wrap;
    }

    .titelMain h3 {
        font-size: 11px;
    }

    .headerInfo div {
        margin: 2px 6px;
    }

    .textInfo {
        font-size: 14px;
    }

    .footerColumn p {
        font-size: 15px;
    }

    .textCompany {
        font-size: 13px;
        line-height: 12px;
        margin: 15px 0;
    }

    .linkCommunity {
        font-size: 12px;
        line-height: 20px;
    }

    .inonsNetwork {
        display: none;
    }

    .textNetwork {
        font-size: 12px;
        line-height: 22px;
    }

    .footerColumn input {
        font-size: 10px;
        padding: 0 3px;
        margin: 15px 0;
        line-height: 26px
    }

    .companyNomber {
        font-size: 9px;
        line-height: 20px;
    }
}
@media screen and (max-width: 300px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 15px 5%;
    }
    .titelMain input {
        width: 65%;
    }
    .path-names {
        margin: 0 4px;
    }
    .container-photo-product > img {
        max-width: 80%;
    }
    .title-product {
        font-size: 15px;
    }
    .product-info-page> p {
        margin-top: 9px;
        font-size: 12px;
        line-height: 24px;
    }
    .about-btn-live {
        font-size: 8px;
        height: 45px;
        padding: 0px 15px;
    }
    .function-btn {
        flex-wrap: wrap;
        display: inline-block;
    }
    .about-btn-live {
        font-size: 9px;
        height: 46px;
        padding: 2px 16px;
        margin-top: 5%;
    }
    .content-panel > div > a {
        font-size: 5px;
    }
    .content-list > div > a {
        font-size: 8px;
    }
    .content-right-info > h4 {
        font-size: 9px;
    }
    .content-right-info > span {
        font-size: 7px;
    }
    .content-more-products>h4 {
        font-size: 11px;
    }
    .content-card {
        display: flex;
        flex-wrap: wrap;
        width: 43%;
        margin: 2% 0% 2% 5%;
    }
    .gray-square {
        height: 25px;
    }
    .square-price {
        padding: 3px;
    }
    .square-price>h4 {
        font-size: 10px;
    }
    .square-price>span {
        font-size: 13px
    }
    .footerColumn p {
        font-size: 9px;
    }
    .textCompany {
        display: none;
    }
    .companyNomber i {
        font-size: 6px;
        line-height: 15px;
        margin: 5px;
    }
    .linkCommunity i {
        font-size: 5px;
        line-height: 20px;
        margin: 0 5px 0 0;
    }
    .linkCommunity {
        font-size: 6px;
        line-height: 15px;
    }
    .textNetwork {
        font-size: 10px;
        line-height: 19px
    }
    .footerColumn input {
        font-size: 6px;
        padding: 0px 1px;
        margin: 10px 0;
        line-height: 22px;
    }
}

