/*Section2- Why you Choose*/

.img-list {
    text-align: center;
    margin: 4% 11px;
    padding: 0% 3% 0%;
}
.row-3 {
    display: flex;
    justify-content: space-evenly;
}

.first-title {
    letter-spacing: 6px;
    margin: 3% 12% 2%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}

.subtitle-why {
    height: 62px;
    color: #b0bec5;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.black-section{
    width: 100%;
    height: 616px;
    background-color: #263238;
}

.why-text-title{
    color: #ffffff;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 700;
    line-height: 104px;
    text-align: center;
}
/*Section-2-Author*/
.author {
    height: 550px;
    background-color: #f4f6f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22%;
}

.author-gry-box {
    background-color: #b5b5b5;
    padding: 10% 20%;
}

.author-box {
    width: 100%;
    padding: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8bc34a;
}

.author-text-box {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
    width: 45%;
    margin-right: 20px;
}

.author-text-box span {
    font-weight: 700;
}

.author-btn {
    background-color: #ffffff;
    border: none;
    color: #263238;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    width: 45%;
    height: 63px;
}

@media screen and (max-width: 1330px) {
    .black-section {
        width: 100%;
        height: 100%;
    }

    .row-3 {
        flex-wrap: wrap;
    }

    .row-3 > div {
        width: 93%;
    }

    .row-3  {
        width: 100%;
    }

    .first-title {
        text-align: center;
        max-width: 100%;
        font-size: 18px;
    }
}
@media screen and (max-width: 900px) {
    .author-text-box{
        font-size: 21px;
    }
}
@media screen and (max-width: 600px) {

    .why-text-title {
        font-size: 26px;
    }

    .subtitle-why {
        font-size: 14px;
    }

    .author-text-box {
        font-size: 10px;
    }

    .author-btn {
        font-size: 15px;
    }

    @media screen and (max-width: 300px) {

        .subtitle-why {
            font-size: 8px;
        }

        .author-text-box {
            font-size: 8px;
        }

        .author-btn {
            font-size: 10px;
        }
    }
}
