.window-size {
    height: 1394px;
    background-color: #f4f6f5;
}

.font {
    font-family: Roboto;
    font-weight: bold;
}

.window-name {
    color: #263238;
    font-size: 15px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.menu-high nav {
    display: flex;
    justify-content: center;
}

.menu-high li {
    list-style: none;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 37px;
    text-align: center;
    margin: 0 4px;
}

.page-link:hover {
    color: #263238;
    box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
    background-color: #e74c3c;
}

.menu-high a {
    text-decoration: none;
    color: #263238;
    font-family: Roboto;
    font-size: 14px;;
    font-weight: bold;
    line-height: 35px;
}

.menu-one {
    width: 70px;
}

.menu-two {
    width: 110px;
}

.menu-three, .menu-four {
    width: 90px;
}

.menu-five {
    width: 118px;
}

.menu-six {
    width: 68px;
}

.product-line {
    display: flex;
    justify-content: space-around;
    margin: 52px 0 32px 0;
}

.product-window {
    width: 350px;
    height: 250px;
    background-color: #d4d4d4;
}

.product-window-name {
    width: 350px;
    height: 89px;
    background-color: #ffffff;
}

.product-names {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.product-name-m {
    margin-left: 25px;
}

.product-name {
    color: #263238;
    font-size: 16px;
}

.green-name {
    color: #8bc34a;
    font-size: 14px;
}

.price {
    padding-top: 34px;
    padding-right: 20px;
}

.product-window-line {
    width: 350px;
    height: 1px;
    background-color: #e7ecf2;
}

.product-window-score {
    width: 350px;
    height: 50px;
    background-color: #ffffff;
    padding-top: 10px;
}

.manufacturer {
    display: flex;
    margin-left: 25px;
}

.manufacturer-name {
    color: #546e7a;
    font-size: 14px;
    padding: 9px 13px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #b5b5b5;
    border-radius: 15px;
}

.score {
    padding-top: 7px;
}

.score i {
    color: #ffa726;
    font-size: 13px;
}

.low-menu nav {
    margin: 78px 0 112px;
}

.low-menu-one {
    width: 163px;
    height: 52px;
    box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
}

.low-menu-one a {
    font-size: 16px;
}

.window-size-two {

}

.low-product-background {
    border: 1px solid #e7ecf2;
}

.low-circles-center {
    display: flex;
    justify-content: center;
    margin: 67px 0 90px;
}

.low-circles {
    width: 16px;
    height: 16px;
    border: 1px solid #d1cdcd;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin: 0 5px;
}

.low-circles:hover {
    background-color: #8bc34a;
}

.green-circle {
    background-color: #8bc34a;
}

/* SECTION - ALL NEW ITEMS */

.link-menu a:hover {
    color: #919393;
    text-decoration: none;
}

.modal-items-flex {
    display: flex;
}

.modal-items {
    margin: 0 10px;
}

.notifications-parent {
    position: relative;
}

.notifications-one {
    position: absolute;
    left: 28px;
    top: -2px;
}

.notifications-two {
    position: absolute;
    right: 46px;
    top: -2px;
}

.notifications-three {
    position: absolute;
    right: -7px;
    top: -2px;
}

/* MODAL WINDOW */

.block-modal {
    position: absolute;
    display: none;
    width: 158px;
    right: 0;
    top: 35px;
    z-index: 9999;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
}

.view-modal:hover .block-modal {
    display: block;
}

.blockFlex {
    display: flex;
}

.blockFlex li {
    list-style: none;
}

.blockFlex a {
    text-decoration: none;
    font-family: Roboto;
    color: #546e7a;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
}

.blockFlex a:hover {
    color: #263238;
}

.blockFlex i {
    margin-right: 10px;
}

.blockIMG {
    justify-content: center;
    align-items: center;
    display: flex;
}

.view-modal {
    position: relative;
}

.header-circle {
    width: 34px;
    height: 34px;
    background-color: #b5b5b5;
    border-radius: 17px;
}

.font-line {
    line-height: 20px;
}

.button-logout {
    color: #ffffff;
    font-weight: normal;
}

.background-header {
    background-image: url(../img/background_section_all_new_items.png);
    background-size: cover;
    position: relative;
    display: flex;
    height: 227px;
    justify-content: center;
    align-items: center;
}

.path-names {
    display: flex;
    margin: 0 60px;
}

.path-names li {
    list-style: none;
    margin: 55px 5px 40px;
}

.path-names a{
    text-decoration: none;
}

.grey-text {
    color: #cbd4d8;
}

.black-text {
    color: black;
}

.sections-flex {
    display: flex;
    margin: 0 5% 4%;
}

.left-windows-settings {
    width: 206px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 0 31px;
}

.window-list {
    height: 312px;
}

.decay-line {
    width: 208px;
    height: 1px;
    background-color: #dde3e8;
}

.font-line-categories {
    line-height: 60px;
}

.window-list-categories {
    display: flex;
    line-height: 40px;
    justify-content: space-between;
}

.window-list-categories li {
    list-style: none;
    margin: 0 70px 0 20px;
    width: 90px;
}

.window-list-categories a {
    color: #263238;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

.window-price-range {  
    height: 245px;
}

.price-range {
    width: 135px;
}

.green-button {
    text-align: center;
    color: #ffffff;
    border-radius: 0px;
}

.first-product-line-ai {
    display: flex;
}

.product-line-m {
    margin: 0 30px 30px;
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}

.top-ten-sellers {
    height: 1008px;
}

.sellers-window {
    width: 208px;
    height: 121px;
    background-color: #d4d4d4;
    margin: 26px 0;
}

.sellers-window-m {
    margin: 10px 0;
}

.sellers-window-line {
    line-height: 30px;
}

.sellers-window-name {
    width: 208px;
}

.price-sellers {
    padding-top: 22px;
}

.sellers-score-m{
    margin-bottom: 25px;
}

.sellers-score {
    margin: 0;
}

.window-sort {
    width: 95%;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin: 0 30px 30px;
}

.window-sort-right {
    display: flex;
    justify-content: space-between;
}

.window-sort-flex{
    display: flex;
    margin-top: 17px;
}

.sort-items a:hover {
    color: #8bc34a;
}

.window-sort li {
    list-style: none;
    margin: 0 10px;
}

.window-sort a {
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.product-window-small {
    width: 320px;
    height: 180px;
}

.product-window-name-small {
    width: 320px;
}

.product-window-line-small {
    width: 320px;   
}

.product-window-score-small {
    width: 320px;  
    height: 40px;
}

.number-pages {
    display: flex;
    margin: 40px 30px 0;
}

.number-pages li {
    width: 43px;
    height: 38px;
}

.footer-m {
    padding-top: 7%;
}

.go-to {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.go-to a {
    text-decoration: none;
    border: 1px solid #bababa;
    padding: 5px;
    background: #f2f2f2;
    color: #c2bdbd;
    font-family: roboto;
}

*, *::before, *::after {
    box-sizing: content-box;
}

@media screen and (max-width: 1300px) {
    .text-info {
        display: none;
    }

    .product-line {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-m {
        margin: 5px;
    }

    .first-product-collumn {
        display: none;
    }

    .first-product-line-ai {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-high {
        justify-content: center;
    }
}

@media screen and (max-width: 960px) {
    .window-name {
        text-align: center;
    }

    .text-main {
        text-align: center;     
        width: 60%;
    }

    .menu ul {
        display: flex;
        justify-content: center;
    }

    .link-menu, .modal-items-flex {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .first-product-line-ai {
        flex-wrap: wrap;
        justify-content: center;
    }
}
